/*-- scss:defaults --*/
// Base document colors
//$body-bg: #181818;
//$body-color: white;
$link-color: #32D3D8;
$link-decoration: none;

$magenta-color:       #cc0164 !default;

// Code blocks
//$code-block-bg-alpha: -.8;